header{
  background-color: purple;
  color: gold;
  text-align: center;
}

main{
  background-color: lightgray;
  text-align: center;
  padding: 1em
}

body{
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
}
